

<div class="container">
  <div class="row">
    <div class ="col-6">
<form class="form-inline md-form mr-auto mb-4">
    <input 
    class="form-control mr-sm-2" 
    type="text" placeholder="Search" 
    aria-label="Search" 
    name="keyword" 
    id="keyword">
    
    <button 
    mdbBtn size="sm" 
    gradient="aqua" 
    rounded="true" 
    class="btn" 
    mdbWavesEffect type="submit" 
    (click)="search()">
    Search</button>
  </form>
  </div>
  <div class="col-6" id="bookIcon">
    <a href="http://localhost:4200/app-book-list">  <img class="img-responsive" src="assets/blue.png" id="home">
      </a>
  </div>
  </div>
  </div>